html {
    padding: 20px;
    color: #3d3d3d;
  }
  
  .red {
    color: tomato;
  }
  .container {
    margin-block-start: 50px;
    .logo {
        max-width: 100px;
    }
    .deleteBtn {
      background-color: none;
      box-shadow: none;
      border: none;
      font-size: 10px;
    }
  }